*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

h1{
    color: yellowgreen;
    margin-bottom: 100px;
}

.btn{
    align-items: center;
    justify-content: center;
    background-color: rebeccapurple;
    border: 0;
    color: #fff;
    padding: 40px 80px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:focus{
    outline: 0
}

.btn:hover{
    opacity: 0.8;
}

.btn:active{
    transform: scale(0.98);
}