*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #333;
    color: #222;
    overflow-x: hidden;
    margin: 0;
}

.container{
    background-color: #fafafa;
    min-height: 100vh;
    width: 100vw;
    padding: 50px;
    transform-origin: top left;
    transition: transform 0.4s linear;
}

.container.show-nav{
    transform: rotate(-20deg);
}

.circle-container{
    left: -100px;
    top: -100px;
    position: fixed;
}

.circle {
    height: 200px;
    width: 200px;
    background-color: #ff7979;
    border-radius: 50%;
    position: relative;
    transition: transform 0.4s linear;
}

.container.show-nav .circle{
    transform: rotate(-70deg);
}

.circle button{
    position: absolute;
    font-size: 26px;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;
}

.circle button:focus{
    outline: none;
}

.circle button#open{
    left: 60%;
}

.circle button#close{
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.content img{
    max-width: 100%;
}

.content{
    max-width: 1000px;
    margin: 50px auto;
}

.content h1{
    margin: 0;
}

.content small{
    font-style: italic;
    color: #555;
}

.content p{
    color: #333;
    line-height: 1.5;
}

.container.show-nav + nav li{
    transform: translateX(0);
    transition-delay: 0.5s;
}


nav{
    bottom: 50px;
    left: 0px;
    position: fixed;
    z-index: 100;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    padding: 25px 0;
    color: #fff;
    text-transform: uppercase;
    font: 26px;
    transform: translateX(-100%);
    transition: transform 0.4s ease;
}

nav ul li + li{
    margin-left: 15px;
    transform: translateX(-150%);
}

nav ul li + li + li{
    margin-left: 30px;
    transform: translateX(-200%);
}