*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    text-align: center;
}

.btn{
    background-color: rebeccapurple;
    color: #fff;
    border: 0;
    padding: 30px 50px;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.9;
}

.btn:focus{
    outline: 0;
}

.btn:active{
    transform: scale(0.98);
}