*{
    box-sizing: border-box;
}

body{
    background-color: #efe;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin: 0;
}

h1{
    padding: 30px;
}

.box{
    background-color: steelblue;
    display: flex;
    color: #fff;
    width: 400px;
    height: 200px;
    margin: 5px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(200%);
    transition: transform 0.4s ease;
}

.box h2{
    font-size: 35px;
}

.box:nth-of-type(even){
    transform: translateX(-200%);
}

.box.show{
    transform: translateX(0);
}