*{
    box-sizing: border-box;
}

body{
    font-family: 'Muli', sans-serif;
    background-color: steelblue;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
}

.container{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    border-radius: 5px;
    /* position: relative; */
}

.btn{
    background-color: steelblue;
    width: 100%;
    padding: 15px;
    display: inline-block;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.btn:active{
    transform: scale(0.98);
}

h1{
    text-align: center;
    margin-bottom: 40px;
}
.text{
    margin-top: 30px;
    font-size: 16px;
}

.container a{
    text-decoration: none;
    color: steelblue;
}

.container .form-control{
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form-control input{
    background-color: transparent;
    border: 0;
    width: 100%;
    border-bottom: #fff solid 2px;
    display: inline-block;
    position: relative;
    font-size: 18px;
    color: #fff;
    padding: 15px 0;
}

.form-control input:focus,
.form-control input:valid{
    outline: 0;
    border-color: lightblue;
}

.form-control label{
    position: absolute;
    font-size: 16px;
    top: 15px;
    left: 0;
}

.form-control label span{
    display: inline-block;
    font-size: 16px;
    min-width: 5px;  
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span{
    color: lightblue;
    transform: translateY(-30px);
}